.Auth {
    background: rgb(193,202,222);
    background: linear-gradient(90deg, rgba(193,202,222,1) 0%, rgba(219,224,236,1) 50%, rgba(242,243,247,1) 100%);
    padding: 5%;
    height: 88vh;
    display: flex;
    
}